#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position:relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    z-index: 1001;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/*loaded styles*/

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  
      -ms-transform: translateX(-100%);  
          transform: translateX(-100%);  

-webkit-transition: all 0.3s 0.3s ease-out;  
        transition: all 0.3s 0.3s ease-out;  
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  
      -ms-transform: translateX(100%);  
          transform: translateX(100%); 

-webkit-transition: all 0.3s 0.3s ease-out; 
        transition: all 0.3s 0.3s ease-out;  

}
.loader #loader {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;  

}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  
        -ms-transform: translateY(-100%);  
            transform: translateY(-100%);  

-webkit-transition: all 0.3s 0.6s ease-out;  
        transition: all 0.3s 0.6s ease-out; 
}
#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}
.panel-heading img {
    width: 300px;
    height: 150px;
}
.back-link a {
    color: #4ca340;
    text-decoration: none; 
    border-bottom: 1px #4ca340 solid;
}
.back-link a:hover,
.back-link a:focus {
    color: #408536; 
    text-decoration: none;
    border-bottom: 1px #408536 solid;
}
.entry-header {
    text-align: left;
    margin: 0 auto 50px auto;
    width: 80%;
    max-width: 978px;
    position: relative;
    z-index: 10001;
}
#demo-content {
    padding-top: 100px;
}
html{
    background-color: #000;
    /*z-index: 100000;*/
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 40px; 
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
}
h3 {
    margin-left: 5%;
    color: #fff;
    text-align: center;
}
html {
    background-color: #000;
}
.toiOhomai {
    height: 150px;
    width: 100%;
}
.waikato {
    height: 150px;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
footer {
    position: fixed;
    bottom: 0;
}
.row
{
    background-color: #000;
}
.row-footer
{
    position:absolute; 
    margin-left:7.5px; 
    bottom: 0px; 
    width: 100%;
}
.info {
    position: absolute;
    top: 25%;
    left: 40%;
}
.info h4 {
    float: right;
}
.nav-stacked{
    display:none;
}
.dropdown-mini
{
    display: none;
}
.description
{
    text-align: center; 
    color: white; 
    font-size: 25px;
}
.dropdown-menu li
{
    background-color: #196097; 
    color: #402369
}
@media screen and (max-width:1250px)
{
    .nav-stacked
    {
        display: none;
    }
}
@media screen and (max-width:810px)
{
    .navbar{
        display: none;
    }
    .nav-stacked
    {
        display: block;
        width: 100%;
    }
    .dropdown-mini
    {
        /*position: absolute;*/
        top: 0;
        left: 0;
        float: left;
        display: initial;
    }
}